<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"  xmlns:gap="http://phonegap.com/ns/1.0" id="com.style.panache" >

    <name>Style Panache</name>
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    
    <gap:platform name="ios" />
    <gap:platform name="android" />
    
    <description>
        Your Personal Style Guide !!
    </description>

    <author href="http://www.infinisystem.com" email="support@infiniteit.biz">
        Infini Systems
    </author>
    
    <icon src="icon.png" />
    <gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4" />
    <gap:plugin name="nl.x-services.plugins.socialsharing" version="4.3.8" />
    <gap:plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay"  version="1.2.0" />
    <gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2"/>
    <gap:plugin name="com.pushwoosh.plugins.pushwoosh" version="3.4.2" />
    <gap:plugin name="nl.x-services.plugins.calendar"  version="3.2" />  
  

    <access origin="*"/> <!-- allow all pages, use for development -->
    <access origin="*.pushwoosh.com"/> <!-- allow pushwoosh service -->
    
    
    <gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.9.0">
        <param name="APP_ID" value="937502589613535" />
        <param name="APP_NAME" value="Pluckk" />
    </gap:plugin>
    
    

</widget>