<div id="content" class="snap-content">
    <div class="header-clear"></div>

    <div class="content">
        <div class="adaptive-style">
            <h3>Add a New Style!</h3>
        </div>
        <div class="clear"></div>

        <div class="decoration"></div>
        <form name="addStyleForm" ng-submit="addPref()">
            <input type="text" name="styleName" required style="margin-top: 10px;" class="signup-password" placeholder="Style Name"/>
            <input type="hidden" name="userId" value='{{ userId}}' />

            <div class="clearfix" ng-repeat="cat in categories" >
                <h4 class="category-h4">Select your {{cat.category}}</h4>
                <div class="portfolio-adaptive adaptive-three listing child">
                    <div class="adaptive-item custom-item" ng-repeat="child in cat.children"  >
                        <input type="radio" ng-model="{{child.id}}" ng-required="{{!child.id}}" name="cat[{{cat.id}}][]" value="{{child.id}}" id="{{child.id}}" style="display:none  ;" />

                        <a href class="to-cat-select" ng-click="getGallery()" title="{{product.product}}">
                            <img class="responsive-image" ng-src="{{imgPath + child.image}}"  alt="{{child.category}}"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style" > 
                                    {{child.category}}
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div>

                </div>

            </div>
            <p class="form-row clearfix">
               <input type="submit" class="button button-blue full-button" style="background-color: #1f1f1f; margin-top:15px" value="Submit">
            </p>
        </form>

    </div>



</div>

<script type="text/javascript">

</script>
<style>
    a.item-selected, a.item-selected:hover {
        box-shadow:  0px 0px 3px 1px #343434 !important;
        -webkit-box-shadow: 0px 0px 3px 1px #343434 !important;
        -moz-box-shadow: 0px 0px 3px 1px #343434 !important;
        transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
    }
    a.to-cat-select:hover {
            box-shadow: 0px 0px 3px 1px #343434 !important;
        -webkit-box-shadow: 0px 0px 3px 1px #343434 !important;
        -moz-box-shadow: 0px 0px 3px 1px #343434 !important;
        transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
    }
    .lbl-style{
            font-size: 12px;
    text-align: center;
    }
/*.custom-item{
    margin-left: 0% !important;
}*/
.category-h4{
        padding: 10px 0px;
}
</style>
<script>

</script>