<div id="content" class="snap-content">
    <div class="header-clear"></div>

    <div class="content">
        <div class="adaptive-style">
            <h3>Add a New Style!</h3>
        </div>
        <div class="clear"></div>

        <div class="decoration"></div>
      <form name="addStyleForm" ng-submit="addPref()" class="ng-pristine ng-valid">
            <input type="text" name="styleName" required="" style="margin-top: 10px;" class="signup-password" placeholder="Style Name">
            <input type="hidden" name="userId" value="{{ userId }}">
            <input type="hidden" name="parameters" value="5">

            <!-- ngRepeat: cat in categories --><div class="clearfix ng-scope" >
                <h4 class="category-h4 ng-binding">Select your Gender</h4>
                <div class="portfolio-adaptive adaptive-three listing child">
                    <!-- ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[8][]" value="10" id="10" style="opacity:0;">

                        <a href="" class="to-cat-select" ng-click="; activePanelFn('female')" title="">
                            <img class="responsive-image"  alt="Female" src="http://stylepanache.in/public/admin/uploads/catalog/category/20151030085832-1.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Female
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[8][]" value="9" id="9" style=" opacity:0;">

                        <a href="" class="to-cat-select" ng-click="; activePanelFn('male')" title="">
                            <img class="responsive-image"   alt="Male" src="http://stylepanache.in/public/admin/uploads/catalog/category/20151030085811-1.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Male
                                </label>
                       
							</h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children -->

                </div>

            </div><!-- end ngRepeat: cat in categories -->
            <span ng-switch on="getGender">
            <span ng-switch-when="female">
        
            <div class="clearfix ng-scope" >

                <h4 class="category-h4 ng-binding">Select your Skin Tone</h4>
                <div class="portfolio-adaptive adaptive-three listing child">
                    <!-- ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[11][]" value="12" id="12" style="display:none  ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                            <img class="responsive-image" alt="Fair" src="http://stylepanache.in/public/admin/uploads/catalog/category/20151102120842-1.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Fair
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[11][]" value="13" id="13" style="display:none  ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                            <img class="responsive-image"   alt="Medium" src="http://stylepanache.in/public/admin/uploads/catalog/category/20151102120856-1.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Medium
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[11][]" value="14" id="14" style="display:none  ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                            <img class="responsive-image"  alt="Dusky" src="http://stylepanache.in/public/admin/uploads/catalog/category/20151102120910-1.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Dusky
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children -->

                </div>

            </div><!-- end ngRepeat: cat in categories --><div class="clearfix ng-scope" >
                <h4 class="category-h4 ng-binding">Select your Height</h4>
                <div class="portfolio-adaptive adaptive-three listing child">
                    <!-- ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[15][]" value="16" id="16" style="display:none  ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                            <img class="responsive-image"  src="images/body-char/f-p.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Petite
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[15][]" value="17" id="17" style="display:none  ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                            <img class="responsive-image" alt="Average" src="images/body-char/f-a.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Average
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[15][]" value="18" id="18" style="display:none  ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                            <img class="responsive-image" alt="Tall"src="images/body-char/f-t.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Tall
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children -->

                </div>

            </div><!-- end ngRepeat: cat in categories --><div class="clearfix ng-scope" >
                <h4 class="category-h4 ng-binding">Select your Body Shape</h4>
                <div class="portfolio-adaptive adaptive-three listing child">
                    <!-- ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[19][]" value="23" id="23" style="display:none  ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                        <img class="responsive-image"   alt="Inverted Triangle" src="images/body-char/f-invertedtriangle..jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Inverted Triangle
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[19][]" value="21" id="21" style="display:none  ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                            <img class="responsive-image"  alt="Triangle" src="images/body-char/f-triangle.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Triangle
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[19][]" value="20" id="20" style="display:none  ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                            <img class="responsive-image"   alt="Round" src="images/body-char/f-round.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Round
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[19][]" value="24" id="24" style="display:none  ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                            <img class="responsive-image"  alt="Hourglass" src="images/body-char/f-hourglass.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Hourglass
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[19][]" value="22" id="22" style="display:none  ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                            <img class="responsive-image" alt="Rectangle" src="images/body-char/f-rectangle.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Rectangle
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children -->

                </div>

            </div><!-- end ngRepeat: cat in categories --><div class="clearfix ng-scope" >
                <h4 class="category-h4 ng-binding">Select your Occasion</h4>
                <div class="portfolio-adaptive adaptive-three listing child">
                    <!-- ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[25][]" value="28" id="28" style="display:none  ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                            <img class="responsive-image" ng-src="http://stylepanache.in/public/admin/uploads/catalog/category/20151102115726-1.jpg" alt="Trendy" src="http://stylepanache.in/public/admin/uploads/catalog/category/20151102115726-1.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Trendy
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[25][]" value="26" id="26" style="display:none  ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                            <img class="responsive-image" ng-src="http://stylepanache.in/public/admin/uploads/catalog/category/20151102120055-1.jpg" alt="Traditional" src="http://stylepanache.in/public/admin/uploads/catalog/category/20151102120055-1.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Traditional
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[25][]" value="27" id="27" style="display:none  ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                            <img class="responsive-image" ng-src="http://stylepanache.in/public/admin/uploads/catalog/category/20151102115742-1.jpg" alt="Modern" src="http://stylepanache.in/public/admin/uploads/catalog/category/20151102115742-1.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Modern
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children -->

                </div>

            </div><!-- end ngRepeat: cat in categories -->
            </span>
            <span ng-switch-when="male">
        
            <div class="clearfix ng-scope" >

                <h4 class="category-h4 ng-binding">Select your Skin Tone</h4>
                <div class="portfolio-adaptive adaptive-three listing child">
                    <!-- ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[11][]" value="12" id="12" style="display:none  ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                            <img class="responsive-image" ng-src="http://stylepanache.in/public/admin/uploads/catalog/category/20151102120842-1.jpg" alt="Fair" src="http://stylepanache.in/public/admin/uploads/catalog/category/20151102120842-1.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Fair
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[11][]" value="13" id="13" style="display:none  ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                            <img class="responsive-image" ng-src="http://stylepanache.in/public/admin/uploads/catalog/category/20151102120856-1.jpg" alt="Medium" src="http://stylepanache.in/public/admin/uploads/catalog/category/20151102120856-1.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Medium
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[11][]" value="14" id="14" style="display:none  ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                            <img class="responsive-image" ng-src="http://stylepanache.in/public/admin/uploads/catalog/category/20151102120910-1.jpg" alt="Dusky" src="http://stylepanache.in/public/admin/uploads/catalog/category/20151102120910-1.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Dusky
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children -->

                </div>

            </div><!-- end ngRepeat: cat in categories -->
            <div class="clearfix ng-scope" >
                <h4 class="category-h4 ng-binding">Select your Height</h4>
                <div class="portfolio-adaptive adaptive-three listing child">
                    <!-- ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[15][]" value="16" id="16" style="display:none  ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                            <img class="responsive-image" ng-src="http://stylepanache.in/public/admin/uploads/catalog/category/20151031084954-1.jpg" alt="Petite" src="http://stylepanache.in/public/admin/uploads/catalog/category/20151031084954-1.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Petite
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[15][]" value="17" id="17" style="display:none  ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                            <img class="responsive-image" ng-src="http://stylepanache.in/public/admin/uploads/catalog/category/20151031085010-1.jpg" alt="Average" src="http://stylepanache.in/public/admin/uploads/catalog/category/20151031085010-1.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Average
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[15][]" value="18" id="18" style="display:none  ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                            <img class="responsive-image" ng-src="http://stylepanache.in/public/admin/uploads/catalog/category/20151031085025-1.jpg" alt="Tall" src="http://stylepanache.in/public/admin/uploads/catalog/category/20151031085025-1.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Tall
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children -->

                </div>

            </div><!-- end ngRepeat: cat in categories --><div class="clearfix ng-scope" >
                <h4 class="category-h4 ng-binding">Select your Body Shape</h4>
                <div class="portfolio-adaptive adaptive-three listing child">
                    <!-- ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[19][]" value="23" id="23" style="display:none  ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                            <img class="responsive-image"  alt="Inverted Triangle" src="images/body-char/m-invertedtriangle..jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Inverted Triangle
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[19][]" value="21" id="21" style="display:none  ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                            <img class="responsive-image"  alt="Triangle" src="images/body-char/m-triangle.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Triangle
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[19][]" value="20" id="20" style="display:none  ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                            <img class="responsive-image"   alt="Round" src="images/body-char/m-oval.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Oval
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[19][]" value="24" id="24" style="display:none  ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                            <img class="responsive-image"  alt="Hourglass" src="images/body-char/m-trapezoid.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Trapezoid
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[19][]" value="22" id="22" style="display:none  ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                            <img class="responsive-image"   alt="Rectangle" src="images/body-char/m-rectangle.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Rectangle
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children -->

                </div>

            </div><!-- end ngRepeat: cat in categories --><div class="clearfix ng-scope" >
                <h4 class="category-h4 ng-binding">Select your Occasion</h4>
                <div class="portfolio-adaptive adaptive-three listing child">
                    <!-- ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[25][]" value="28" id="28" style="display:none  ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                            <img class="responsive-image"  src="images/body-char/m-trendy.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Trendy
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[25][]" value="26" id="26" style="display:none ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                            <img class="responsive-image"  src="images/body-char/m-traditional.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Traditional
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children --><div class="adaptive-item custom-item ng-scope" >
                        <input type="radio" name="cat[25][]" value="27" id="27" style="display:none  ;">

                        <a href="" class="to-cat-select" ng-click="" title="">
                            <img class="responsive-image" src="images/body-char/m-modern.jpg"> 
                            <h4 class="pname">
                            
                                <label class="lbl-style ng-binding"> 
                                    Modern
                                </label>
                       
                        </h4>
                        </a>
                        
                    </div><!-- end ngRepeat: child in cat.children -->

                </div>

            </div><!-- end ngRepeat: cat in categories -->
            </span>
            </span>
            <p class="form-row clearfix">
               <input type="submit" class="button button-blue full-button" style="background-color: #1f1f1f; margin-top:15px" value="Submit">
            </p>
        </form>

    </div>



</div>

<script type="text/javascript">

</script>
<style>
    a.item-selected, a.item-selected:hover {
        box-shadow:  0px 0px 3px 1px #343434 !important;
        -webkit-box-shadow: 0px 0px 3px 1px #343434 !important;
        -moz-box-shadow: 0px 0px 3px 1px #343434 !important;
        transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
    }
    a.to-cat-select:hover {
            box-shadow: 0px 0px 3px 1px #343434 !important;
        -webkit-box-shadow: 0px 0px 3px 1px #343434 !important;
        -moz-box-shadow: 0px 0px 3px 1px #343434 !important;
        transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
    }
    .lbl-style{
            font-size: 12px;
    text-align: center;
    }
/*.custom-item{
    margin-left: 0% !important;
}*/
.category-h4{
        padding: 10px 0px;
}
</style>
<script>

 jQuery('body').on('click', '.to-cat-select', function(event) { /* Act on the event */
            event.preventDefault();
            jQuery(this).closest("div.child").find(".item-selected").removeClass("item-selected");
            jQuery(this).addClass("item-selected").prev(":radio").click();
			
        });
		
		
</script>
