<div id="content" class="snap-content">

    <div class="signup-page bg2">
        <div class="signup-page-overlay"></div>
        <div class="signup-page-wrapper">

            <div class="clearfix"></div>
            <p> Add New Item to your Wardrobe </p>

            <br/>
            <form ng-cloak method="post" novalidate name="wardrobefrm" enctype="multipart/form-data" id="wardrobefrm" class="login custom-woo-login" ng-submit="addWardrobePref()">              
                <select ng-model="wcategory" class="inputfield"  name="wcategory" id="wcategory" required>
                    <option value="" selected="selected">Select Category</option>
                    <option ng-repeat="wcat in wardrobecats"  on-finish-render="onFinishRenderAddWardrobe" value="{{ wcat.id}}">{{ wcat.category}}</option>
                </select>
                <p ng-show="wardrobefrm.wcategory.$dirty && wardrobefrm.wcategory.$invalid">
                    <span style="color:red" ng-show="wardrobefrm.wcategory.$error.required">Category is required.</span>
                </p>

                <input type="text" class="inputfield" name="wname" ng-model="wname" id="wname" placeholder="Product Name" required>
                <span style="color:red" ng-show="wardrobefrm.wname.$dirty && wardrobefrm.wname.$invalid">
                    <span ng-show="wardrobefrm.wname.$error.required">Name is required.</span>
                </span>

                <input type="text" class="inputfield"  placeholder="Brand" ng-model="wbrand" name="wbrand" id="wbrand">
                <input type="text" class="inputfield" ng-model="wcolor" name="wcolor" id="wcolor" placeholder="Color">

                <input type="file" class='inputfield' ng-model="wimg" accept="image/*;capture=camera"  name="wimg" id="wimg" required >
                <span style="color:red" ng-show="wardrobefrm.wimg.$dirty && wardrobefrm.wimg.$invalid">
                    <span ng-show="wardrobefrm.wimg.$error.required">Image is required.</span>
                </span>

                <input type="hidden" name="userId" value='{{ userId}}'>

                <input type='submit' name='submit' class="button button-blue full-button">


                <div class="clear"></div>


        </div>
    </div>

</div>
