<div id="content" class="snap-content">

    <div class="header-clear"></div>        
    <div class="content">

        <div class="container no-bottom">
            <h3>My Cart ({{cart.length}})</h3>
        </div>
        <div class="decoration"></div>

        <h3>Cart Total <i class="fa fa-rupee"></i>{{ cart.Total}}</h3>

        <div class="table-responsive">

            <table class="table cartable" >
                <tr>
                    <th style="width:300px;">Product</th>
                    <th></th>
                    <th>Price</th>
                    <th></th>
                </tr>


                <tr ng-repeat="product in cart track by $index" on-finish-render="ngRepeatFinished">
                    <td>
                        <a ng-href="#/product/{{product.url_key}}"><img ng-src="{{product.small_image != '' ? product.small_image : (product.medium_image != '' ? product.medium_image : product.large_image) }}" alt="" width="50" height="" />
                        <span>{{product.product}}</span></a>
                    </td>
                    <td width="60"><i ng-click="delete($event,product.id)" class="fa fa-trash"></i></td>
                    <td><i class="fa fa-rupee"></i>{{product.spl_price > 0 && product.spl_price < product.price ? product.spl_price : product.price }}</td>
                    <th><a href='{{ product.url}}' target="_system">Buy from {{ product.store}}</a></th>
                </tr>


                <tr><th colspan="3" >Cart Total</th><th style="width:150px;"><i class="fa fa-rupee"></i>{{ @cart.Total}}</th></tr>

            </table>
        </div>
        <!--<div class="button button-blue newbtn">Checkout</div>  -->       
    </div>

</div>


<!-- 
<div class="fixedfooter">
    <span class="col2"><a href="#">Continue</a></span>
    <span class="col2"><a href="#">Checkout</a></span>
</div> -->

 