<div id="content" class="snap-content">
    <div class="header-clear"></div>

    <div class="content">
        <div class="adaptive-style">
            <h4>{{products.maincat}}</h4>
            <a class=""><i class="fa fa-filter"></i></a>
            <a class="adaptive-two-activate active-adaptive-style"><i class="fa fa-th-large"></i></a>
            <a class="adaptive-one-activate"><i class="fa fa-navicon"></i></a>
        </div>
        <div class="clear"></div>

        <div class="decoration"></div>

        <div class="portfolio-adaptive adaptive-two listing">
            <div class="adaptive-item" ng-repeat="product in products.data">
                <a href="#/product/{{product.url_key}}"  title="{{product.product}}">
                    <img class="responsive-image" ng-src="{{product.small_image != '' ? product.small_image : (product.medium_image != '' ? product.medium_image : product.large_image) }}" alt="img">
                </a>
                <h4 class="pname">
                    <a href="#/product/{{product.url_key}}" class="lname">{{product.product}}</a> 
                    <a href="" class="lwishlit"><i class="fa fa-heart {{product.wishlist == 1? 'liked':''}}" ng-click="addToList($event, product.id)"></i></a></h4>
                <p class="sdetail">
                    <span class="price-wrap">
                        <a href="#/product/{{product.url_key}}" class=""> 
                            <span class="fprice" ng-if="product.spl_price > 0"><i class="fa fa-rupee"></i>{{product.price}}</span>   
                            <span class="dprice"><i class="fa fa-rupee"></i>{{product.spl_price > 0 ? product.spl_price : product.price }}</span> 
                        </a> 
                    </span>
                    <br>
                    <span class="dd-cart-home ">
                        <button class="button add-cart-btn mt7"  ng-click="addToCart($event, product)">Add to Cart</button>
                    </span>
                </p>
            </div>



        </div>
        <div class="pagination clearfix">
            <button class="button" ng-if="products.prev_page_url != null" ng-click="load(products.prev_page_url)">Previous</button>
            <button class="button pull-right" ng-if="products.next_page_url != null" ng-click="load(products.next_page_url)">Next</button>
        </div>

    </div>



</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <section id="woocommerce_price_filter-3" class="widget woocommerce widget_price_filter">
                <h3 class="widget-title">Filter by price</h3>
                <form method="get" action="#">
                    <div class="price_slider_wrapper">
                        <div class="price_slider" style="display:none;"></div>
                        <div class="price_slider_amount">
                            <input type="text" id="min_price" name="min_price" value="" data-min="25" placeholder="Min price">
                            <input type="text" id="max_price" name="max_price" value="" data-max="460" placeholder="Max price">
                            <button type="submit" class="button">Filter</button>
                            <div class="price_label" style="display:none;">
                                Price: <span class="from"></span> — <span class="to"></span>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </form>
            </section>
            <section class="widget woocommerce widget_price_filter product-sidebar-filter" on-finish-render="ngRepeatFinished" ng-repeat="filter in products.filters">
                <div class="accordion-heading">
                    <a class="accordion-toggle {{ $index == 0 ? '' : 'collapsed' }}" href="#filter{{$index}}">{{ filter.category}}<b class="caret" style="
                                                                                                                                     margin-left: 6px;
                                                                                                                                     "></b><i class="fa fa-caret-right"></i></a>
                </div>
                <div id="filter{{$index}}" class="accordion-body collapse {{ $index == 0 ? ' in' : ''}} ">
                    <input type="text" placeholder="Search" ng-if="sizeOf(filter.child) > 10" ng-model="filterz[$index]" />
                    <div class="accordion-inner">
                        <label ng-repeat="option in filter.child" class="category-filter">
                            <input type="checkbox" name="filter[]" value="{{  option.id}}" ng-checked="filtered.indexOf(option.id) > -1" ng-click="filterProds(option.id, filter.category)"> {{ option.category}}
                        </label>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>