<div id="content" class="snap-content">
    <div class="slider-container full-bottom">
        <div class="homepage-slider" data-snap-ignore="true">                
            <div ng-repeat="slider in sliders" on-finish-render="ngRepeatFinished">
                <img ng-src="{{ imgPath + slider.slider_img}}" class="responsive-image" alt="img">
            </div>
        </div>
    </div>

    <div class="content">       
        <div class="container large-title no-bottom">


            <h3>Your Personalised Automated Stylist</h3>

            <em class="center-if-mobile small-text half-bottom">Receive suggestions from your personal stylist to fill your wardrobe with a versatile balance of trendy pieces.</em>
            <p ng-if="styleslen <=1"><a href='{{ loggedIn == 1 ? "#/add-new-style" : "#/login?rurl=add-new-style"}}' class="button button-blue full-button" style="background-color: #1f1f1f;">Add New Style!</a></p>
                    <p ng-if="styleslen >1"><a href='{{ url }}' class="button button-blue full-button" style="background-color: #1f1f1f;">{{ text }}</a></p>

<em class="center-if-mobile small-text half-bottom"><a class="openRight" >Click here</a> to add new style or view products of other style.</em>
        </div>
    </div>

    <!-- Content Heding -->


 
    <!-- Page Content-->
    <div class=" ">

        <div class="  no-bottom">
            <!-- Page Columns-->
            <div class="one-half-responsive">
                
                <a href="#/chat">
                    <img src="images/highlights/pstylist.png" class="w100 mb10" alt="img">
                    </a>
                     <a href="#/define-style">
                    <img src="images/highlights/definestyle.png" class="w100 mb10" alt="img">
                    </a>
                     <a href="#/wardrobe">
                    <img src="images/highlights/wardrobe.png" class="w100 mb10" alt="img">
                    </a>
                       <a href="#/scrapbook">
                    <img src="images/highlights/scrapbook.png" class="w100 " alt="img">
                    </a>
                 
                <div class="thumb-clear"></div>
            </div>
        </div>
        <div class="decoration"></div>             
    </div>

    <h3 class="mbtm30 txtcenter">Latest Trending</h3>
    <div class="content">
        <div class="portfolio-adaptive adaptive-two listing">
            <div class="adaptive-item" ng-repeat="product in new">
            <div class="img-wrapper-product">
                <a href="#/product/{{product.url_key}}"  title="{{product.product}}">
                    <img class="responsive-image" ng-src="{{product.small_image != '' ? product.small_image : (product.medium_image != '' ? product.medium_image : product.large_image) }}" alt="img">
                </a>
                </div>
                <h4 class="pname">
                    <a href="#/product/{{product.url_key}}" class="lname">{{product.product}}</a> 
                   </h4>
                <p class="sdetail">
                    <a href="#/product/{{product.url_key}}" class=""> 
                        <span class="fprice" ng-if="product.spl_price > 0 && product.spl_price < product.price"><i class="fa fa-rupee"></i>{{product.price}}</span>   
                        <span class="dprice"><i class="fa fa-rupee"></i>{{product.spl_price > 0 && product.spl_price < product.price ? product.spl_price : product.price }}</span>
                        <a href="" class="lwishlit pull-right"><i class="fa fa-heart {{product.wishlist == 1? 'liked':''}}" ng-click="addToList($event, product.id)"></i></a> 
                        <br>
                         <span class="dd-cart-home ">
                    <button class="button add-cart-btn mt7"  ng-click="addToCart($event, product)">Add to Cart</button>
                     </span>
                    </a> 

                </p>
            </div>

        </div>

        <p><a href="#" class="button button-blue full-button" style="background-color: #1f1f1f;">More</a></p>
    </div>




</div>
<script>
    jQuery('body').on('click', '.openRight', function(){
        jQuery('.open-more').click();
    })
</script>