<div id="content" class="snap-content">
    <div class="slider-container full-bottom">
        <div class="homepage-slider" data-snap-ignore="true">                
            <div ng-repeat="slider in sliders" on-finish-render="ngRepeatFinished">
                <img ng-src="{{ imgPath + slider.slider_img}}" class="responsive-image" alt="img">
            </div>
        </div>
    </div>

    <div class="content">       
        <div class="container large-title no-bottom">


            <h3>Your Personalised Automated Stylist</h3>
            <p>Receive suggestions from your personal stylist to fill your wardrobe with a versatile balance of trendy pieces.</p>
            <p><a href='{{ loggedIn == 1 ? "#/add-new-style" : "#/login"}}' class="button button-blue full-button" style="background-color: #1f1f1f;">Add New Style!</a></p>
        </div>
        <div class="decoration"></div>
    </div>

    <!-- Content Heding -->


    <h3 class="mbtm30 txtcenter">Our Unique Features</h3>
    <!-- Page Content-->
    <div class="content">

        <div class="container no-bottom">
            <!-- Page Columns-->
            <div class="one-half-responsive">
                <p class="thumb-left no-bottom">
                    <img src="images/pictures/1s.jpg" alt="img">
                    <strong>Your Wardrobe</strong>
                    <em><br>Personalize your own wardrobe by having expert recommendations from our Stylists</em>
                </p>
                <div class="thumb-clear"></div>
            </div>
            <div class="decoration hide-if-responsive"></div>
            <div class="one-half-responsive last-column">        
                <p class="thumb-right no-bottom">
                    <img src="images/pictures/2s.jpg" alt="img">
                    <strong>Your Scrapbook</strong>
                    <em><br>Create your own custom look by browsing thorugh the best combos, and creating the best look for you</em>
                </p>
                <div class="thumb-clear"></div>
            </div>
            <div class="decoration hide-if-responsive"></div>
            <div class="one-half-responsive">
                <p class="thumb-left no-bottom">
                    <img src="images/pictures/3s.jpg" alt="img">
                    <strong>Selfie Contest</strong>
                    <em><br>Click and upload your own image with your best look, and get a chance to win exciting awards from us</em>
                </p>
                <div class="thumb-clear"></div>
            </div>
            <div class="decoration hide-if-responsive"></div>
            <div class="one-half-responsive last-column">        
                <p class="thumb-right no-bottom">
                    <img src="images/pictures/4s.jpg" alt="img">
                    <strong>Plan My Travel</strong>
                    <em><br>Confused about what to wear when travelling abroad? Select the continent and time of travel, and get the best recommendations from our experts</em>
                </p>
                <div class="thumb-clear"></div>
            </div>
        </div>
        <div class="decoration"></div>             
    </div>

    <h3 class="mbtm30 txtcenter">New Arrivals</h3>
    <div class="content">
        <div class="portfolio-adaptive adaptive-two listing">
            <div class="adaptive-item" ng-repeat="product in new">
                <a href="#/product/{{product.url_key}}"  title="{{product.product}}">
                    <img class="responsive-image" ng-src="{{product.small_image != '' ? product.small_image : (product.medium_image != '' ? product.medium_image : product.large_image) }}" alt="img">
                </a>
                <h4 class="pname">
                    <a href="#/product/{{product.url_key}}" class="lname">{{product.product}}</a> 
                    <a href="" class="lwishlit"><i class="fa fa-heart {{product.wishlist == 1? 'liked':''}}" ng-click="addToList($event, product.id)"></i></a></h4>
                <p class="sdetail">
                    <a href="#/product/{{product.url_key}}" class=""> 
                        <!--<span class="fprice" ng-if="product.spl_price == 0"><i class="fa fa-rupee"></i>{{product.price}}</span>-->   
                        <span class="fprice">{{ product.spl_price > 0 && (product.spl_price < product.price) ? }}<strike><i class="fa fa-rupee"></i>{{product.price}}</strike> {{ : }}<i class="fa fa-rupee"></i>{{product.spl_price}}</span>   
                        <!--<span class="dprice"><i class="fa fa-rupee"></i>{{ ((product.spl_price > 0) && (product.spl_price < product.price)) ? "<strike>" product.price "<strike>" product.spl_price : product.price }}</span>--> 
                        <br>
                         <span class="dd-cart-home ">
                    <button class="button add-cart-btn mt7"  ng-click="addToCart($event, product)">Add to Cart</button>
                     </span>
                    </a> 
                </p>
            </div>

        </div>

        <p><a href="#" class="button button-blue full-button" style="background-color: #1f1f1f;">More</a></p>
    </div>




</div>
