<div class=" header-custom">
    <div class="p25 float-left5">
        <button ng-click="share($event, product)" class="button add-cart-btn share-btn hw100  "> <i class="fa fa-share-alt"></i>
            <br>Share</button>
    </div>
    <div class="p25 float-left5">
        <button ng-click="addToList($event, product.id)" class="button add-cart-btn hw100  fav-btn   {{product.wishlist == 1? 'liked':''}}"> <i class="fa fa-heart"></i>
            <br><span class="fav-text">Favorite</span> </button>
    </div>
    <div class="p50 float-left5">
        <button class="button add-cart-btn  hw100 custom-add-cart " ng-click="addToCart($event, product)"><i class="fa fa-shopping-cart"></i>
            <br>Add to Cart</button>
    </div>
</div>
<div id="content" class="snap-content">
    <div class="header-clear"></div>
    <div class="content">
        <div class="portfolio-one">
            <div class="portfolio-one-item full-bottom">
                <div class="portfolio-one-image">
                    <a href="{{product.large_image != '' ? product.large_image : (product.medium_image != '' ? product.medium_image : product.small_image) }}" class="swipebox" title="{{product.product}}"><i class="fa fa-plus"></i></a>
                    <img src="{{product.large_image != '' ? product.large_image : (product.medium_image != '' ? product.medium_image : product.small_image) }}" class="responsive-image">
                </div>
                <div class="portfolio-one-text">
                    <h3 class="title">
                        <a class="lname">{{product.product}}</a> 
                       
                    </h3>
                    <em class="subtitle">From {{product.store}}</em>
                    <h3 class="desc_title"> 
                         <span class="fprice" ng-if="product.spl_price > 0 && product.spl_price < product.price"><i class="fa fa-rupee"></i>{{product.price}}</span>   
                        <span class="dprice"><i class="fa fa-rupee"></i>{{product.spl_price > 0 && product.spl_price < product.price ? product.spl_price : product.price }}</span> 
                      
                    </h3>
                    <div class="portfolio-one-details">
                        <a href="#">In Stock</a>
                    </div>
                    <p class="half-bottom">
                        {{ product.short_desc}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
 
