<div class=" header-custom">
    <div class="p25 float-left5">
        <button ng-click="share($event, product)" class="button add-cart-btn share-btn hw100  "> <i class="fa fa-share-alt"></i>
            <br>Share</button>
    </div>
    <div class="p25 float-left5">
        <button ng-click="addToList($event, product.id)" class="button add-cart-btn hw100  fav-btn"> <i class="fa fa-heart {{product.wishlist == 1? 'liked':''}}"></i>
            <br><span class="fav-text">Favorite</span> </button>
    </div>
    <div class="p50 float-left5">
        <button class="button add-cart-btn  hw100 custom-add-cart " ng-click="addToCart($event, product)"><i class="fa fa-shopping-cart"></i>
            <br>Add to Cart</button>
    </div>
</div>
<div id="content" class="snap-content">
    <div class="header-clear"></div>
    <div class="content">
        <div class="portfolio-one">
            <div class="portfolio-one-item full-bottom">
                <div class="portfolio-one-image">
                    <!--  <a href="{{product.large_image != '' ? product.large_image : (product.medium_image != '' ? product.medium_image : product.small_image) }}" class="swipebox" title="{{product.product}}"><i class="fa fa-plus"></i></a> -->
                    <img src="{{product.large_image != '' ? product.large_image : (product.medium_image != '' ? product.medium_image : product.small_image) }}" class="responsive-image">
                </div>
                <div class="portfolio-one-text">
                    <h3 class="title">
                        <a class="lname">{{product.product}}</a> 

                    </h3>
                    <em class="subtitle">From {{product.store}}</em>
                    <h3 class="desc_title">
                        <span  ng-if="product.spl_price != '0.00' && product.price != product.spl_price">
                            <del><span class="fprice"><i class="fa fa-rupee"></i>{{product.price| number:0}}</span></del> 
                            <ins><span class="dprice"><i class="fa fa-rupee"></i>{{product.spl_price| number:0}}</span></ins>
                        </span>
                        <span  ng-if="product.spl_price == '0.00' || product.price == product.spl_price" >
                            <ins><span class="dprice"><i class="fa fa-rupee"></i>{{product.price| number:0}}</span></ins>
                        </span>
                    </h3>
                    <div class="portfolio-one-details">
                        <a href="#">In Stock (Product already at its best price)</a>
                    </div>
                    <p class="half-bottom">
                        {{ product.short_desc}}
                    </p>
                </div>
            </div>
        </div>       
    </div>
    <div class="header-clear"></div>
    <div class="content">
        <div  ng-if="product.relatedProds">
            <h3 class="mbtm30 txtcenter">Related Products</h3>
            <div class="content">
                <div class="portfolio-adaptive adaptive-two listing">
                    <div class="adaptive-item" ng-repeat="product in product.relatedProds">
                        <div class="img-wrapper-product">
                            <a href="#/product/{{product.url_key}}"  title="{{product.product}}">
                                <div class="img-listing-wrap" style="background-image:url('{{product.small_image != '' ? product.small_image : (product.medium_image != '' ? product.medium_image : product.large_image) }}')">

                                </div>

                            </a>
                        </div>
                        <h4 class="pname">
                            <a href="#/product/{{product.url_key}}" class="lname">{{product.product}}</a> 
                        </h4>
                        <p class="sdetail">
                            <a href="#/product/{{product.url_key}}" class=""> 
                                <span  ng-if="product.spl_price != '0.00' && product.price != product.spl_price">
                                    <del><span class="fprice"><i class="fa fa-rupee"></i>{{product.price| number:0}}</span></del> 
                                    <ins><span class="dprice"><i class="fa fa-rupee"></i>{{product.spl_price| number:0}}</span></ins>
                                </span>
                                <span  ng-if="product.spl_price == '0.00' || product.price == product.spl_price" >
                                    <ins><span class="dprice"><i class="fa fa-rupee"></i>{{product.price| number:0}}</span></ins>
                                </span>                                

                                <a href="" class="lwishlit pull-right"><i class="fa fa-heart {{product.wishlist == 1? 'liked':''}}" ng-click="addToList($event, product.id)"></i></a> 
                                <br>
                                <span class="dd-cart-home ">
                                    <button class="button add-cart-btn mt7"  ng-click="addToCart($event, product)">Add to Cart</button>
                                </span>
                            </a> 

                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

