<div id="content" class="snap-content">
   <div class="header-clear"></div>
   <div class="content">
    <div class="one-half-responsive">
                    <p class="thumb-left no-bottom">
                        <img src="images/pictures/3s.jpg" alt="img">
                        <strong>{{ profile.user.first_name }} {{ profile.user.last_name }}</strong><br>
                        <span class="like-wrap" style="display:inline-block">
                          <span class="like-count">
                           {{ totalSPLikes }}
                           </span>
                            <span   class=""  > 
                            <span class="fav-text">Like</span>
                           </span>
                         </span>

   
                        <span class="follow-wrap" style="display:inline-block">
                          <span class="follow-count">
                            {{ profile.user.userfollows.length }}
                        </span>
                        <span   class="" > 
                            <span class="fav-text">Followers</span>
                         </span>
                        </span><br><br>


                        <span class="follow=btn" style="display:block">
    <button ng-click="" class="button add-cart-btn">
             <span class="fav-text" ng-click="followme($event, profile.user.id)">{{ profile.user.following == 1 ? 'Following' : 'Follow'}}</span> </button>
             <!--<span ng-if="profile.user.following == 0" class="fav-text" ng-click="followme($event, profile.user.id)">Follow</span> </button>-->
                        </span>

                    </p>
                    <div class="thumb-clear"></div>
                </div>


       
      <div class="adaptive-style">
         <h4 style="font-size:17px;">XpressUrSelf</h4>
         <div class="pull-right">
            <select ng-init="selectedItem = listOfOptions[0]" ng-options="option for option in listOfOptions" ng-model="selectedItem" ng-change="selectedItemChanged()" class="select-box" ng-show="listOfOptions.length">
            </select>
         </div>
      </div>
      <div class="clear"></div>
      <div class="decoration"></div>
      <div class="portfolio-adaptive adaptive-one">
         <div ng-if="sbproducts == 0">
            <p>Oops, No Look created by {{ profile.user.first_name }} {{ profile.user.last_name }}!</p>
         
            <br>
         </div>
         <div class="adaptive-item" ng-repeat="sp in sbproducts" on-finish-render="ngRepeatFinished">
            <a ng-href="#/scrapbook/{{sp.url_key}}" title="{{sp.product}}">
            <img class="responsive-image" ng-src="{{imgPath + sp.small_image}}" alt="img">
            </a>
            <h4 class="pname"><a ng-href="#/scrapbook/{{sp.url_key}}"  class="lname">{{sp.product}}</a></h4>
            
           <div class="scrap-desc">
              <p class="one-liner">
                 {{sp.short_desc}}
              </p>
           </div>
         
            <div class="">
        
                              <span class="user-icon-scrap" style="background-image:url('http://stylepanache.in{{sp.added_by.image}}')" ng-show="sp.added_by.image"></span>
                <span class="user-icon-scrap" style="background-image:url('images/user-icon.png')" ng-show="!sp.added_by.image"></span>
                {{sp.added_by.first_name}}
         
          <span class=" pull-right like-sec-scrap">
          <i class=" fa fa-thumbs-up {{sp.liked == 1? 'liked':''}}" ng-click="addToSList($event, sp.id)" ><span class="count">{{sp.scrapbooklikes.length}}</span></i>

         <!-- <span class="follow-count"><i class="fa fa-user">15</i></span> -->
           </span>
            </div>
            <div class="decoration custom-deco" ></div>
         </div>
      </div>
      <div class="decoration"></div>
<!--      <div class="pagination clearfix">
         <button class="button">Previous</button>
         <button class="button pull-right">Next</button>
      </div>-->
    
 
   </div>
 
</div>
 

