<div id="content" class="snap-content">
    <div class="landing-page">
        <div class="landing-wrapper">
            <a href="index.html">
                <img class="landing-logo" src="images/logo2.png"  alt="img" style="margin-top: 30px;">
                <em class="landing-logo-sub">{{ name}}'s Wardrobe</em>
            </a>
            <div class="landing-navigation">
                <a href="#/wardrobe-listing/{{wcat.id}}" ng-if="wcat.wardrobe.length != 0" ng-repeat="wcat in wardrobeprods" ><i class="fa">{{wcat.wardrobe.length}}</i>{{wcat.category}}</a>
                <div class="clear"></div>
            </div>

            <div class="landing-footer">
                <a href="#" style="visibility:hidden; opacity:0;"><i class="fa fa-facebook"></i></a>
                <a href="#/add-new-wardrobe"><i class="fa fa-plus"></i></a>
                <a href="#" style="visibility:hidden; opacity:0;"><i class="fa fa-google-plus"></i></a>


                <div class="clear"></div>
                <p class="landing-copyright" style="color:#fff;">Add</p>
            </div>
        </div>
        <div class="landing-background">
            <div class="bg-pattern"></div>
        </div>
    </div>
</div>