<div class="sidebar-header sidebar-header-custom">
    <a href="mailto:info@stylepanache.in?Subject=Style%20Inquiry"><i class="fa fa-envelope"></i></a>
    <a onclick="checkLogin()"><i class="fa fa-comment"></i></a>
    <a ng-href="" onclick="shareViaWhatsapp()"><i class="fa fa-whatsapp"></i></a>
    <a ng-href=""><i class="fa fa-times"></i></a>
</div>
<div class="clear"></div>
 <!-- <div class="searchbar">
    <input class="" type="text" placeholder="Search..">
    <button class="button button-blue">GO</button>
</div> --> 
<div class="sidebar-divider">
    Start Shopping
</div>
<ul class="sidebar-navigation">
    <li><a ng-href="#/offers"><i class="fa fa-edit"></i>Offers<i class="fa fa-circle"></i></a></li>
    <!--<li><a ng-href=""><i class="fa fa-tag"></i>New Arrivals<i class="fa fa-circle"></i></a></li>-->
    <li class="has-submenu"   ng-repeat="cat in categories" on-finish-render="ngRepeatFinished">
        <a class="deploy-submenu" ng-click="menuFn($event)" ng-href=""><i class="fa " ng-class="{true: 'fa-mars', false: 'fa-venus'}[cat.category == 'Menswear']" ></i>{{ cat.category}}<i class="fa fa-plus"></i></a>
        <ul class="submenu">
            <li ng-repeat="child in cat.children"  on-finish-render="ngRepeatFinished">
                <a ng-href='#{{child.children.length <=0 ? "/explore/"+child.url_key : "/subcat/"+child.id}}' class="active-menu">
                    <i class="fa fa-angle-right"></i>
                    {{ child.category}}
                    <i class="fa fa-circle"></i>
                </a>
            </li>
        </ul>
    </li>
<!--     <li><a ng-href="#/faq"><i class="fa fa-reorder"></i>FAQ<i class="fa fa-circle"></i></a></li> -->

    <li><a ng-href="#/privacy"><i class="fa fa-file-text"></i>Privacy Policy<i class="fa fa-circle"></i></a></li>
    <li><a ng-href="#/contact"><i class="fa fa-envelope"></i>Contact<i class="fa fa-circle"></i></a></li>
</ul>
<div class="sidebar-divider">
    Copyright 2015. All rights reserved.
</div>
