<div class="sidebar-header">
    <a onclick="openLink('https://www.facebook.com/StylePanache')" ><i class="fa fa-facebook"></i></a>
    <a onclick="openLink('https://twitter.com/style_panache')"  ><i class="fa fa-twitter"></i></a>
    <a onclick="openLink('https://instagram.com/style_panache')"  ><i class="fa fa-instagram"></i></a>
    <a onclick="openLink('https://www.pinterest.com/stylepanache')"  ><i class="fa fa-pinterest"></i></a>
    <a onclick="openLink('https://www.youtube.com/channel/UCinJuAEvFJu-AEMPKs8Te2A')"  ><i class="fa fa-youtube"></i></a>                
</div>
<ul class="sidebar-navigation clearfix">
    <li><a href='#{{ loggedIn == 1 ? "/profile" : "/login?rurl=profile"}}'><i class="fa fa-user"></i>My Profile<i class="fa fa-caret-right"></i></a></li>
    <!--<li><a href='#{{ loggedIn == 1 ? "/chat" : "/login?rurl=chat"}}'><i class="fa fa-comments-o"></i>Personal Stylist<i class="fa fa-caret-right"></i></a></li>-->
    <li><a href='#/chat'><i class="fa fa-comments-o"></i>Personal Stylist<i class="fa fa-caret-right"></i></a></li>
    <li><a href='#{{ loggedIn == 1 ? "/travel-planner" : "/login?rurl=travel-planner"}}'><i class="fa fa-plane"></i>Plan My Travel<i class="fa fa-caret-right"></i></a></li>
    <li><a href='#{{ loggedIn == 1 ? "/wardrobe" : "/login?rurl=wardrobe"}}'><i class="fa fa-binoculars"></i>My Wardrobe<i class="fa fa-caret-right"></i></a></li>
    <li><a href='#{{ loggedIn == 1 ? "/add-new-wardrobe" : "/login?rurl=add-new-wardrobe"}}'><i class="fa fa-plus-square"></i>Add to Wardrobe<i class="fa fa-caret-right"></i></a></li>
    <li><a href='#{{ loggedIn == 1 ? "/my-scrapbook" : "/login?rurl=my-scrapbook"}}'><i class="fa fa-edit"></i>My Look Book<i class="fa fa-caret-right"></i></a></li>
    <li><a href='#{{ loggedIn == 1 ? "/create-scrapbook" : "/login?rurl=create-scrapbook"}}'><i class="fa fa-plus-square"></i>Create Look Book<i class="fa fa-caret-right"></i></a></li>
    <li><a href='#{{ loggedIn == 1 ? "/favorites" : "/login?rurl=favorites"}}'><i class="fa fa-heart"></i>My Favourite<i class="fa fa-caret-right"></i></a></li>
    <li ng-if="loggedIn == 1" class="has-submenu">
        <a class="deploy-submenu active-submenu" ng-click="menuFn($event)" ng-href=""><i class="fa fa-magic"></i>Your Styles<i class="fa fa-plus"></i></a>
        <ul class="submenu newStyle active-submenu-items">
            <li>
                <a ng-href="#/add-new-style" class="active-menu">
                    <i class="fa fa-angle-right"></i>
                    Add New Style
                    <i class="fa fa-circle"></i>
                </a>  
            </li>
            <li ng-repeat="child in styles"  on-finish-render="ngRepeatFinished">
                <a ng-href="#/explore-style/{{child.id}}" class="active-menu">
                    <i class="fa fa-angle-right"></i>
                    {{ child.style_name}}
                    <i class="fa fa-circle"></i>
                </a>
            </li>
        </ul>
    </li>
    <li><a href='#{{ loggedIn == 1 ? "/logout" : "/login"}}'><i class="fa {{ loggedIn == 1 ? 'fa-sign-out' : 'fa-sign-in'}}"></i>{{ loggedIn == 1 ? 'Logout' : 'Login / Register'}}<i class="fa fa-caret-right"></i></a></li>
</ul>


<div class="sidebar-divider">
    Copyright 2015. All rights reserved.
</div>
