<div class="sidebar-header">
    <a href="https://www.facebook.com/StylePanache" target="_system"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/style_panache"  target="_system"><i class="fa fa-twitter"></i></a>
    <a href="https://instagram.com/style_panache"  target="_system"><i class="fa fa-instagram"></i></a>
    <a href="https://www.pinterest.com/stylepanache"  target="_system"><i class="fa fa-pinterest"></i></a>
    <a href="https://www.youtube.com/channel/UCinJuAEvFJu-AEMPKs8Te2A"  target="_system"><i class="fa fa-youtube"></i></a>                
</div>
<ul class="sidebar-navigation clearfix">
    <li><a href='#{{ loggedIn == 1 ? "/profile" : "/login"}}'><i class="fa fa-user"></i>My Profile<i class="fa fa-caret-right"></i></a></li>
    <li><a href='#{{ loggedIn == 1 ? "/chat" : "/login"}}'><i class="fa fa-comments-o"></i>Personal Stylist<i class="fa fa-caret-right"></i></a></li>
    <li><a href='#{{ loggedIn == 1 ? "/wardrobe" : "/login"}}'><i class="fa fa-binoculars"></i>My Wardrobe<i class="fa fa-caret-right"></i></a></li>
    <li><a href='#{{ loggedIn == 1 ? "/add-new-wardrobe" : "/login"}}'><i class="fa fa-plus-square"></i>Add to Wardrobe<i class="fa fa-caret-right"></i></a></li>
    <li><a href='#{{ loggedIn == 1 ? "/my-scrapbook" : "/login"}}'><i class="fa fa-edit"></i>My Scrapbook<i class="fa fa-caret-right"></i></a></li>
    <li><a href='#{{ loggedIn == 1 ? "/create-scrapbook" : "/login"}}'><i class="fa fa-plus-square"></i>Create Scrapbook<i class="fa fa-caret-right"></i></a></li>
    <li><a href='#{{ loggedIn == 1 ? "/favorites" : "/login"}}'><i class="fa fa-heart"></i>My Favourite<i class="fa fa-caret-right"></i></a></li>
    <li ng-if="loggedIn == 1" class="has-submenu">
        <a class="deploy-submenu" ng-href=""><i class="fa fa-thumbs-up"></i>Your Styles<i class="fa fa-plus"></i></a>
        <ul class="submenu newStyle">
            <li>
                <a ng-href="#/add-new-style" class="active-menu">
                    <i class="fa fa-angle-right"></i>
                    Add New Style
                    <i class="fa fa-circle"></i>
                </a>  
            </li>
            <li ng-repeat="child in styles"  on-finish-render="ngRepeatFinished">
                <a ng-href="#/explore-style/{{child.id}}" class="active-menu">
                    <i class="fa fa-angle-right"></i>
                    {{ child.style_name}}
                    <i class="fa fa-circle"></i>
                </a>
            </li>
        </ul>
    </li>
    <li><a href='#{{ loggedIn == 1 ? "/logout" : "/login"}}'><i class="fa {{ loggedIn == 1 ? 'fa-sign-out' : 'fa-sign-in'}}"></i>{{ loggedIn == 1 ? 'Logout' : 'Login / Register'}}<i class="fa fa-caret-right"></i></a></li>
</ul>


<div class="sidebar-divider">
    Copyright 2015. All rights reserved.
</div>
